* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: 11;
    border-radius: 0;
}

window#waybar {
    background-color: transparent;
    border-bottom: 3px solid transparent;
    color: #00ff00;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#taskbar {
    border-radius: 10;
    padding: 0 3px;
    margin: 0 0px;
    color: #ffffff;
    background-color: #000000;
}
#taskbar button {
    border-radius: 3px 3px 3px 3px;
    padding: 0 0 0 3px;
    margin: 3px 1;
    color: #ffffff;
    background-color: rgba(120,118,117,0.1);
}
#taskbar button.active {
    background-color: rgba(120,118,117,0.8);
}
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: #000000;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#custom-bluetooth,
#network,
#custom-pacman,
#custom-weather,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
	color: #ffffff;
	background-color: #000000;
       border-radius: 10;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	border-radius: 10;
    background-color: #000000;
}

#battery {
	border-radius:10;
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
	border-radius:10;
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
	    border-radius:10;
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
	border-radius:10;
    background-color: #000000;
    color: #2ecc71;
}

#memory {
	border-radius:10;
	color: #9b59b6;
    background-color: #000000;
}

#disk {
	border-radius:10;
	color: #964800;
    background-color: #000000;
}

#backlight {
    border-radius: 10;
    background-color: #90b1b1;
}

#custom-bluetooth {
	border-radius: 10;
    background-color: #00ff00;
}

#network {
	border-radius: 10;
	color:#2980b9;
    background-color: #000000;
}

#network.disconnected {
	border-radius: 10;
	color:#f53c3c;
    background-color: #000000;
}

#pulseaudio {
	border-radius: 10;
    background-color: #000000;
    color: #f1c40f;
}

#pulseaudio.muted {
	border-radius: 10;
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
	border-radius: 10;
    background-color: #000000;
    color: #fff0f5;
}

#wireplumber.muted {
	border-radius: 10;
    background-color: #f53c3c;
}

#custom-media {
	border-radius: 10;
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
	border-radius: 10;
    background-color: #66cc99;
}

#custom-media.custom-vlc {
	border-radius: 10;
    background-color: #ffa000;
}

#temperature {
	border-radius: 10;
	color: #f0932b;
    background-color: #000000;
}

#temperature.critical {
	border-radius: 10;
	color: #eb4d4b;
    background-color: #000000;
}

#tray {
	border-radius: 10;
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	border-radius: 10;
    padding: 0;
}

#privacy-item {
	border-radius: 10;
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
	border-radius: 10;
    background-color: #cf5700;
}

#privacy-item.audio-in {
	border-radius: 10;
    background-color: #1ca000;
}

#privacy-item.audio-out {
	border-radius: 10;
    background-color: #0069d4;
}

#custom-pacman{
	border-radius: 10;
   color:#ffffff;
   background-color: #000000;
}
#custom-weather{
	border-radius: 10;
	color:#2ecc71;
	background-color: #000000;
}
